body {
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#back-button {
    color: white;
    text-decoration: none;
    position: absolute;
    left: 20px;
    top: 10px;
    font-size: 20px;
}

#page-container {
    display: flex;
    justify-content: center;
}

#mobile-text {
    display: none;
}

#clock-embed {
    /* margin-top: -52px; */
    border-color: #454545;
    border-radius: 10px;
    border-style: solid;
    border-width: 10px;
    /* width: 800px; 
    height: 442px;  */
    width: 820px; 
    height: 462px; 
    overflow: hidden;
}

@media(max-width: 939px) {
    #mobile-text {
        display: flex;
        position: absolute;
        top: 50%;
        color: white;
        text-align: left;
        font-size: 5vw;
        
    }    
    #clock-embed {
        display: none;
    }
}

@media(min-height: 1000px) {
    #zoom-text {
        color: white;
        font-size: 20vw;
        position: absolute;
        bottom: 10%
    }
}