@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&family=Old Standard TT:wght@400..800&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');

body {
    background-color: black;
}

#back-button {
    color: white;
    text-decoration: none;
    position: absolute;
    left: 20px;
    top: 10px;  
    font-size: 20px;
    font-family: "Old Standard TT", serif;
    font-weight: 700;
    z-index: 2;
}

#back-button:hover {
    color: black;
}

#back-button:hover + .back-circle {
    background-color: white !important;
}

#mobile-text {
    display: none;    
}  

@media(max-width: 768px) {
    #mobile-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        color: white;
        text-align: center;
        font-size: 5vw;
    }    

    main {
        display: none;
    }
}