body {
    background-color: #faf9eb;
}

#back-button {
    color: black;
    text-decoration: none;
    position: absolute;
    left: 20px;
    top: 10px;
    font-size: 20px;
}

#title-text {
    font-family: serif;
    font-size: 25px;
    margin-top: 5%;
}

.landscape-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 15%;
}

.landscape-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.image-container {
    position: relative;
    display: inline-block;

    width: 20%;
    margin: 5%;
    margin-bottom: 0;
}

.image-container img {
    display: block; /* Removes space under the image */
    width: 100%; /* Adjust width as needed */
    height: auto; /* Maintains aspect ratio */
  }

.image-container img:hover, .image-container img:active {
    filter: blur(2px) grayscale(0.5);
    transition: 0.2s ease;
}

.overlay-text {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #faf9eb;
    font-size: 20px;
    font-family: serif;
    text-align: center;
    opacity: 0;
    transition: opacity 0.2s ease;
    pointer-events: none;
    /* Ensure text is not clickable */
}

.image-container:hover .overlay-text, .image-container:active .overlay-text {
    opacity: 1; 
}

@media(max-width: 768px) {

    #title-text {
        font-family: serif;
        font-size: 25px;
        margin-top: 5%;
        text-align: center;
    }

    .image-container {
        width: 80%;
        margin: 10%;
        margin-top: 15%;
        margin-bottom: 0;
    }

    .landscape-grid {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .landscape-row {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }


}