@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&family=Old Standard TT:wght@400..800&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');


body {
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
    background-color: white;
    color: black;
}

#back-button {
    color: white;
    text-decoration: none;
    position: absolute;
    left: 20px;
    top: 10px;  
    font-size: 20px;
    font-family: "Old Standard TT", serif;
    font-weight: 700;
}

#page-container {
    display: flex;
    justify-content: center;
}
/* 
canvas {
    border-color: #454545;
    border-radius: 10px;
    border-style: solid;
    border-width: 10px;
    outline-offset: 0px;
} */

#mobile-text {
    display: none;
}

/* #clock-embed {
    border-color: #454545;
    border-radius: 10px;
    border-style: solid;
    border-width: 10px;
    width: 820px; 
    height: 462px; 
    overflow: hidden;
} */

#zoom-text {
    display: none;
}

@media(max-width: 939px) {
    #mobile-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        color: white;
        text-align: center;
        font-size: 5vw;
        
    }    
    #game-container {
        display: none;
    }
    #zoom-text {
        display: none;
    }
}

@media(min-height: 1000px) {
    #zoom-text {
        display: flex;
        flex-direction: column;
        color: white;
        text-align: center;
        font-size: 20vw;
    }
}