@import url('https://fonts.googleapis.com/css2?family=Asset&family=Knewave&family=Plaster&family=Rubik+Distressed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&family=Old Standard TT:wght@400..800&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');

body {
    background-color: black;
    color: white;
    font-family: 'Old Standard TT', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

#back-button {
    color: white;
    text-decoration: none;
    position: absolute;
    left: 20px;
    top: 10px;  
    font-size: 20px;
    font-family: "Old Standard TT", serif;
    font-weight: 700;
}

#page-container {
    display: flex;
    justify-content: center;
}

#content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-text {
    margin: 2vh;
    color: white;
    font-size: 5vw;
    text-align: center;
    font-weight: bold;
}

.subtitle-text {
    color: white;
    font-style: italic;
    font-size: 15px;
    font-weight: normal;
}

.body-text {
    color: white;
    font-size: 20px;
}

.body-list {
    color: white;
    margin-bottom: 40px;
    list-style: upper-roman;
}

.body-sublist {
    color: white;
    list-style: lower-roman;
    padding-left: 2em;
}

#rock-text {
    color: #8a8988;
    font-family: 'Rubik Distressed', 'Segoe UI', sans-serif;
}

#paper-text {
    color: rgb(255, 247, 233);
    font-family: 'Papyrus', 'Segoe UI', sans-serif;
    font-size: 6vw;
}

#scissors-text {
    color: #028be4;
    font-family: 'Plaster', 'Segoe UI', sans-serif;

}

#shoot-text {
    color: rgb(179, 0, 0);
    font-family: 'Asset', 'Segoe UI', sans-serif;
}

#rps-video {
    display: block;
    margin: 0 auto;
    width: 100%;
    border-radius: 5px;
}

@media(max-width: 800px) {
    #rps-video {
        padding-left: 40px;
        padding-right: 40px;
    }
    .subtitle-text {
        padding-left: 40px;
        padding-right: 40px;
    }
    .body-text {
        padding-left: 40px;
        padding-right: 40px;
    }
    .body-list {
        padding-left: 40px;
        padding-right: 40px;
    }
}