.app-content {
    display: flex;
    justify-content: space-between;
}

.text-content {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    padding: 20px;
    margin: 40px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.75vw;
    gap: 20px;
}

body {
    background-color: #f9f9f1;
}

#portfolio-list {
    list-style: disc;

}

.title-text {
    font-size: 4vw;
    font-weight: bold;
}

.image {
    width: 40vw;
    padding: 20px;
}

#social-icons {
    display: flex;
    flex-direction: row;
}

.social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    margin-left: 0;
    /* width: 40px;
    height: 40px; */
    width: 3vw;
    height: 3vw;
}

#linkedin {
    height: 95%;
}

#instagram {
    height: 90%;
}

@media (max-width: 768px) {
    .app-content {
        flex-direction: column;
    }

    .text-content {
        font-size: 3.75vw;
        margin: 20px 20px 0px 20px;
        gap: 10px;
    }

    .title-text {
        font-size: 6vw;
    }

    .image {
        width: 100%;
        padding: 0 20px;
    }

    .social-icon {
        width: 7vw;
        height: 7vw;
    }
}