@import "./web-art-globals.css";

body {
    background-color: var(--baby-powder);
}

#page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 34px;
}

#pf-large-header {
    background: var(--oxford-blue, #1C2237);
    color: var(--baby-powder, #FCFFFA);
    text-align: center;
    font-family: "PP Migra", sans-serif;
    font-style: normal;

    display: flex;
    padding-top: 10px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;

    width: 100vw;
}

#pf-large-header-name {
    font-size: 40px;
    font-weight: 500;
    transition: 0.2s;
}

#pf-large-header-name:hover {
    color: var(--apricot);
}

#pf-large-header-title {
    font-size: 11.5vw;
    font-weight: 800;
}

#pf-grid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-bottom: 100px;
}

.pf-section-label-s1 {
    width: 100%;
    display: flex;
    justify-self: start;
    color: var(--oxford-blue);
    font-family: "Circular";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 120.625%; /* 24.125px */
}

.pf-section-label-s1 p {
    text-decoration: underline;
    text-decoration-color: var(--school-bus-yellow);
    text-decoration-thickness: 5px;
    text-underline-offset: 5px;
}

.pf-section-label-s2 {
    width: 100%;
    display: flex;
    justify-self: start;
    color: var(--oxford-blue);
    font-family: "Circular";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 120.625%; /* 24.125px */
}

.pf-section-label-s2 p {
    text-decoration: underline;
    text-decoration-color: var(--atomic-tangerine);
    text-decoration-thickness: 5px;
    text-underline-offset: 5px;
}

.pf-section-label-s3 {
    width: 100%;
    display: flex;
    justify-self: start;
    color: var(--oxford-blue);
    font-family: "Circular";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 120.625%; /* 24.125px */
}

.pf-section-label-s3 p {
    text-decoration: underline;
    text-decoration-color: var(--lapis-lazuli);
    text-decoration-thickness: 5px;
    text-underline-offset: 5px;
}

.pf-grid-col {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    gap: 20px;
}

#pf-header-banner {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 9vw;
}

#pf-readings-button {
    background-color: var(--baby-powder);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.2s;
}

#pf-readings-button:hover {
    background-color: var(--flax);
}

#pf-readings-icon {
    width: 30px;
    height: 30px;
}


#pf-course-button {
    background-color: var(--baby-powder);
    border-radius: 50%;
    width: 40px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.2s;
}

#pf-course-button:hover {
    background-color: var(--glaucous);
}

#pf-course-icon {
    position: relative;
    top: 1px;
    width: 24px;
    height: 24px;
}

@media (max-width: 1000px) {
    .pf-grid-row {
        padding: 0 4vw;
    }

    /* need more robust media rules for portfolio items */
}

@media (max-width: 768px) {
    .pf-grid-row {
        flex-direction: column;
        gap: 20px;
    }
}

